 <!DOCTYPE html>
<html>

<head>
    <%- include('mdshare/head') %>
</head>

<body translate="no">
    <%- include('mdshare/header') %>
    <%- include('mdshare/body') %>
    <%- include('mdshare/footer') %>
</body>

</html>
